:root {
  font-family: "Poppins", system-ui, -apple-system, sans-serif;
  ;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}

body {
  margin: 0 100px;
  height: 100%;
}

h1 {
  font-size: 3.1em;
  line-height: 1.3;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


/* ---------------- RESPONSIVE ---------------- */

/* Tablets */
@media (max-width: 900px) {

  .summary-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    /* margin-bottom: 20px; */
    padding: 5px !important;
  }

  .footer-items {
    flex-direction: column;
    text-align: center;
    font-weight: 500;
  }

  .btn-section {
    justify-content: center;
  }

  .exp-container {
    flex-direction: column;
  }

  .exp-box {
    flex: 1;
  }
}

/* Mobiles */
@media (max-width: 768px) {

  body {
    margin: 0 20px !important;
  }

  .menu-item {
    display: none;
  }

  .contact-btn {
    display: none;
  }

  .summary-content h1 {
    font-size: 22px;
  }

  .summary-desc {
    font-size: 18px !important;
  }

  .summary-photo img {
    width: 220px;
    height: 220px;
  }

  .footer-items {
    margin: 0;
    padding: 0;
  }

  .professional-container {
    padding: 0;
    margin: 0;
  }

  .exp-container {
    padding: 0 !important;
    margin: 0 !important;
  }

  .exp-container p,
  .exp-container h3,
  .exp-container h4 {
    font-size: 18px;
  }

  .inner-heading span {
    font-size: 18px;
  }

  .inner-heading p {
    font-size: 20px;
    ;
  }

  .heading {
    font-size: 24px !important;
  }

  .inner-heading {
    font-size: 18px;
    padding: 8px 12px;
  }

  .exp-icon {
    padding: 7px 10px;
  }

  .btn-see-more {
    margin-top: 10px;
  }

  .skills-tabs .ant-tabs-tab-btn {
    color: #555;
    font-weight: 600 !important;
    font-size: 16px;
  }

  .contact-container {
    grid-template-columns: auto !important;
  }

  .sub-heading {
    font-size: 16px;
  }

  .summary-greetings {
    font-size: 16px !important;
    padding: 5px 10px !important;
  }

  .skills-content {
    padding: 5px 5px !important;
  }

  .skills-content li {
    padding: 10px !important;
  }

  .ant-tabs-content-holder {
    padding: 5px 7px !important;
  }

  .contact-inner-form {
    margin: 5px !important;
    padding: 5px !important;
  }
  .modal-body .exp-content h2{
    font-size: 16px !important;
  }
  .modal-body .exp-content h4,
  .modal-body .exp-content p,
  .modal-body .exp-content li{
    font-size: 14px !important;
  }
}